
    body {
        margin: 0;
        font-family: "Inter", sans-serif;
        background: url("/IMAGES/bg.png");
        background-size: cover;
        background-position: center;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .card {
        width: 420px;
        background: rgba(255, 255, 255, 0.95);
        box-shadow: 0 10px 30px rgba(0,0,0,0.15);
        border-radius: 16px;
        padding: 40px 35px;
        text-align: center;
        transition: all .3s ease;
        animation: fadeIn .5s ease;
    }


    @keyframes fadeIn {
        from { opacity: 0; transform: scale(.97); }
        to   { opacity: 1; transform: scale(1); }
    }

    .icon-circle {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background: #e6f5ff;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto 20px auto;
    }

    input {
        width: 93%;
        padding: 14px;
        border-radius: 8px;
        border: 1px solid #d5d5d5;
        font-size: 15px;
        margin-top: 8px;
    }

    button {
        width: 100%;
        padding: 14px;
        background-color: #1f5c70;
        color: white;
        border: none;
        border-radius: 8px;
        margin-top: 20px;
        cursor: pointer;
        font-size: 15px;
        transition: 0.25s;
    }
    
    button:hover {
        background: #333;
    }

    .link {
        margin-top: 20px;
        display: inline-block;
        cursor: pointer;
        color: #555;
        font-size: 14px;
    }

    .secondary-box {
        background: #ffffff;
        padding: 12px;
        border-radius: 8px;
        margin-top: 20px;
        border: 1px solid #ddd;
    }

    .secondary-button {
        margin-top: 10px;
        width: 100%;
        padding: 14px;
        background-color: #1f5c70;
        border: 1px solid #ccc;
        border-radius: 8px;
        cursor: pointer;
        font-size: 15px;
        transition: .2s;
    }

    .secondary-button:hover {
        background: #949494;
    }
