/* ==========================
   General Reset & Body
========================== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body.BookReturn{
  background-color: #f4f7f6;
  color: #333;
}

/* ==========================
   Header
========================== */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 80px;
  background: #ffffff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
  height: 100px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: clamp(80px, 15vw, 130px);
  width: auto;
  object-fit: contain;
}
.logo-text h1 {
    font-weight: 700; 
    font-size: 35px;  
    color: #1f5c70;   
}


/* Dashboard Navbar */
.BookReturn-nav {
  display: flex;
  gap: 5px;
}

.BookReturn-nav .nav-btn {
  padding: 10px 15px;
  color: #000;
  text-decoration: none;
  font-weight: 600;
  font-size: 14px;
  transition: color 0.3s ease, border-bottom 0.3s ease;
  border-bottom: 3px solid transparent;
}

.BookReturn-nav .nav-btn:hover {
  color: #1f5c70;
}

.BookReturn-nav .nav-btn.active {
  color: #1f5c70;
  border-bottom: 3px solid #1f5c70;
}

/* Thick Outline */
hr#thckoutline {
  height: 10px; 
  background-color: #1f5c70;
  border: none;
  display: block;
  margin: 0;
}

/* ==========================
   Footer
========================== */
footer {
  background: #1f5c70;
  color: #fff;
  padding: 30px 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
}

.footer-links {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}

.footer-links a {
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
}

.footer-links a:hover {
  text-decoration: underline;
  transition: 0.2s;
}

/* Social Buttons Footer */
.socials {
  display: flex;
  gap: 10px;
}

.social-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
  transition: transform 0.3s;
}

.social-btn img {
  width: 30px;
  height: 30px;
  object-fit: contain;
}

.social-btn:hover {
  transform: scale(1.2);
}


/* Responsive */
@media (max-width: 900px) {
  header {
    flex-direction: column;
    gap: 15px;
    padding: 20px;
  }

  .dashboard-nav {
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
  }
}
